body {
  background-color: rgb(109, 133, 168);
}
h1 {
  text-align: center;
  color: black;
  font-size: 2em;
  font-family: 'Bebas Neue', cursive;
  font-size: 6em;
}
a { 
  display:block;
  text-align: center;
  font-size: 1.5em;
}
table {
  border: 1px solid black;
}

td, th {
  border: 3px solid rgb(35, 23, 77);
  padding: 10px;
}
header li {
  display: inline-flex;
  margin-left: 110px;
  list-style-type: none;
  text-decoration: none;
  color: whitesmoke;
  margin-top: 7px;
  margin-left: 8.5em;
  font-size: large;
  font-weight: 900;
}
header {
height: 30px;
 background-color: black;
 border-radius: 50px;
 width: 1200px;
 margin-left: 40px;

}
section img:first-child{
  margin-left: 40px;
}
section img {
  margin-top: 30px;
}
footer a {
  background-color: black;
  width: max-content;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  color:white;
  text-decoration: none;
}

footer a:hover {
  color:yellow;
}

#Seattle {
  margin-left: 20px;
  background-color: rgb(50, 151, 121);
  width: 250px;
  list-style-type: none;
  border-radius: 5px;
  margin-left: 70px;
  margin-top: 10px;
}

#Seattle li {
  list-style-type: none;
  text-align: center;
}
#Stores h2 {
  font-weight: 900;
  text-align: center;
}
#Stores h3 {
  font-weight: 900;
  text-align: center;
}
#Stores h4 {
  font-weight: 900;
  text-align: center;
}
#Tokyo {
  margin-left: 20px;
  background-color: rgb(50, 151, 121);
  width: 250px;
  list-style-type: none;
  border-radius: 5px;
  margin-left: 70px;
  margin-top: 10px;
  float: right;
}

