body {
  background-color: rgb(100, 82, 139);
}
h1 {
  text-align: center;
  color: black;
  font-size: 2em;
  font-family: 'Bebas Neue', cursive;
  font-size: 6em;
}
a { 
  display:block;
  text-align: center;
  font-size: 1.5em;
}
table {
  border: 1px solid black;
}

td, th {
  border: 3px solid rgb(35, 23, 77);
  padding: 10px;
}
table {
  margin-top: 30px;
  margin-left: 20px;
}
header li {
  display: inline-flex;
  margin-left: 110px;
  list-style-type: none;
  text-decoration: none;
  color: whitesmoke;
  margin-top: 7px;
  margin-left: 8.5em;
  font-size: large;
  font-weight: 900;
}
header {
height: 30px;
 background-color: black;
 border-radius: 50px;
 width: 1200px;
 margin-left: 40px;
margin-bottom: 0px;
}
section img:first-child{
  margin-left: 40px;
}
section img {
  margin-top: 30px;
}
footer a {
  background-color: black;
  width: max-content;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  color:white;
  text-decoration: none;
  margin-top: 10px;
}

footer a:hover {
  color:rgb(255, 0, 0);
}
footer {
  text-align: right;
  font-weight: 900;
}
/* Seattle */
#Seattle {
  margin-left: 20px;
  background-color: rgb(44, 57, 112);
  width: 300px;
  list-style-type: none;
  border-radius: 5px;
  margin-left: 70px;
  margin-top: 10px;
  height: 150px;
  line-height: 21px;
  margin: auto;
  float: left;
}

#Seattle li {
  list-style-type: none;
  text-align: center;
}

#Seattle h1, h2, h3, h4{
  font-weight: 900;
  text-align: center;
  text-decoration: underline;
}
section#Seattle {
  margin-top: 20px;
  
}

/* Tokyo */
#Tokyo {
  margin-left: 20px;
  background-color: rgb(44, 57, 112);
  width: 300px;
  list-style-type: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 70px;
  border-radius: 2px;
  height: 150px;
  line-height: 21px;
  margin: auto;
  float: left;
}
#Tokyo li {
  list-style-type: none;
  text-align: center;
}

  

/* Dubai */
#Dubai {
  margin-left: 20px;
  background-color: rgb(44, 57, 112);
  width: 300px;
  list-style-type: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 70px;
  border-radius: 2px;
  height: 150px;
  line-height: 21px;
  margin: auto;
  float: left;
}
#Dubai li {
  list-style-type: none;
  text-align: center;
}

/* Paris */
#Paris {
  margin-left: 20px;
  background-color: rgb(44, 57, 112);
  width: 300px;
  list-style-type: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 70px;
  border-radius: 2px;
  height: 150px;
  line-height: 21px;
  margin: auto;
  float: left;
}
#Paris li {
  list-style-type: none;
  text-align: center;
}

/* Lima */

#Lima {
  margin-left: 20px;
  background-color: rgb(44, 57, 112);
  width: 300px;
  list-style-type: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 70px;
  border-radius: 2px;
  height: 150px;
  line-height: 21px;
  margin: auto;
  float: left;
  color: rgb(0, 0, 0);
}
#Lima li {
  list-style-type: none;
  text-align: center;
}

/* Field */
form {
  height: 170px;
  text-align: center;
  border: 2px solid black;
  margin-top: 10px;
}
 label {
  color: rgb(20, 20, 20);
  float: left;
}
input {
  float: left;
}

legend {
  text-decoration: underline;
  text-align: left;
  font-weight: 900;
}
button {
  float: left;
}

.Shirt {
  float: right;
}
section.images {
  display:list-item;

}
#Large {
  display: inline;
  margin-left: 200px;
}
main.p {
  float:right;
}
p {
  color: rgb(0, 0, 0);
  border: 2px inset black;
  width: 450px;;
  height:300px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  overflow: scroll;
  margin-right: 500px;
  background: rgb(180, 164, 192);
}
#Merch {
  margin-right: 53px;
}
.Large {
  margin-right: 200px;
  text-align: center;
  position:relative;
}
.Sales {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  margin-left: 30px;
  margin-top: 15px;
  border: solid 2px black;
  background-color: black;
  border-radius: 7px;
}
div. .Sales {
  text-decoration: none;
  color: 
  whitesmoke;
}
a{
  color: white;
  text-decoration: none;
}
a:hover {
  color: burlywood;
}
